<div class="sidebar">
    <span class="sidebar-title">Question Navigator</span>
    <div class="matrix-grid" id="matrix-target"></div>
    <button class="btn-nav" style="margin-top: auto; color: var(--incorrect); width: 100%;" onclick="abortSessionToMain()">Quit Quiz</button>
</div>


